h1{
    color: green;
}

#main{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

#first{
    background-color: greenyellow;
    border: solid 2px lightgray;
    width: 150px;
    height: 125px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#second{
    display: flex;
    justify-content: center;
}
